
<div class="restaurant_name">
	<%= @restaurant.name %>
</div>

<p>
	<%= image_tag @restaurant.image, :class => "show_image" %>
	<img class="show_image" src="http://i.ytimg.com/vi/qIjXYiyx6SY/maxresdefault.jpg">
</p>


<div class="show_restaurant">
	<p><strong>Brief Description:</strong><%= @restaurant.description %></p>
	<p><strong>Address:</strong> <%= @restaurant.address %></p>
	<p><strong>Opening Hours:</strong> <%= @restaurant.opening_hours %></p>
	<p><strong>Popular Food:</strong> <%= @restaurant.popular_food %></p>
</div>

<div class="comment">
	<p><strong>Comments:</strong>
		<% @restaurant.comments.each do |comment| %>
			<p><%= comment.content %> <strong>like:</strong> <%= comment.like %></p>
		<% end %>
	</p>
</div>

<p><%= link_to 'Add New Comment', new_restaurant_comment_path(@restaurant) %></p>

<%= link_to 'Update', edit_restaurant_path(@restaurant) %> 
<%= link_to 'Delete', @restaurant, :method => 'delete', :data => { :confirm => "Are you sure?" } %>


<div class="social">
	<%= social_share_button_tag("My Site") %>
</div>




