<!DOCTYPE html>
<html>
<head>
  <title>Ratings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Timmana' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="container">

		<nav>
			<%= link_to 'Home', restaurants_path %>
			<%= link_to 'All Restaurants', restaurants_path %>
			<%= link_to 'New Restaurant', new_restaurant_path %>

			
			<% if @current_user.present? %>
				<%= link_to 'Edit profile', edit_user_path %>
				<%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => "Are you sure you wish to logout?"} %>
			<% else %>
				<%= link_to 'New User', new_user_path %>
				<%= link_to 'Login', login_path %>
			<% end %>

		</nav>

		<%= yield %>
	</div>

</body>
</html>
