
<%= form_for @restaurant do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</p>
	
	<p>
		<%= f.label :opening_hours %>
		<%= f.text_field :opening_hours %>
	</p>


	<% @restaurant.images.each do |img| %>
		<p>
			<%= label_tag :image %>
			<%= url_field_tag :image, img.image, :name => "restaurant[image][]" %>
		</p>
	<% end %>

	<div class="imgField">
		<p>
			<%= label_tag :image %>
			<%= url_field_tag :image, nil, :name => "restaurant[image][]" %>
		</p>
	</div>

	<div class="addImageButton">
		<%= f.submit 'Add Image', :name => "add_image" %>
	</div>

	<p>
		<%= f.label :popular_food %>
		<%= f.text_field :popular_food %>
	</p>
	
	<p>
		<label>Restaurant Owner</label>
		<%= f.select :restaurant_user_id, RestaurantUser.all.map { |user| [user.name, user.id] }, :include_blank => true %>
	</p>

	<div class="form_button">
		<%= f.submit %>
	</div>
	
<% end %>





