<div class="home-header">
	<h2>RateIT</h2>
</div>

<% @restaurants.each do |restaurant| %>
	<p>
		<div class="all_restaurant_images">
			<% if restaurant.images  %>
				<%= image_tag restaurant.images[0].image, :class => 'index_image' %>
			<% end %>
		</div>

		<div class="description">
			<div class="restaurant_name"><strong><%= restaurant.name %></strong></div>
			<p>
				<div class="all_description">
					<%= truncate(restaurant.description, :length => 120) %>

					<div class="more-link">
						<%= link_to 'More...', restaurant %>
					</div>
				</div>

				<% restaurant.count = 0  %>
				<% restaurant.totalcount = 0 %>

				<% restaurant.comments.each do |c| %>
					<% restaurant.totalcount = restaurant.totalcount.to_i + 1 %>
					<% if c.like %>
						<% restaurant.count = restaurant.count.to_i + 1 %>
					<% end %>

				<% end %>
				<p><strong>Likes:</strong> <%= restaurant.count %> / <%= restaurant.totalcount %></p>
			</p>
		</div>
	</p>
<% end %>


<div class="social">
	<%= social_share_button_tag("My Site") %>
</div>


