<!DOCTYPE html>
<html>
<head>
  <title>Ratings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Timmana' rel='stylesheet' type='text/css'>

<!-- 	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->

</head>

<body>
	<div class="container">	
		<!--<% if @current_user.present? %>
			<p>User: <%= @current_user.name %></p>
		<% end %>
		<% if @current_restaurant_user.present? %>
			<p>Restaurant Owner: <%= @current_restaurant_user.name %></p>
		<% end %>-->

		<nav class="nav">
			<ul>
				<li><%= link_to 'Home', restaurants_path %></li>
				<li><a href="#">Users</a>
		   			<ul>
						<% if @current_user.present? %>
							<li><%= link_to 'Edit profile', edit_user_path %></li>
							<li><%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :data => { :confirm => "Are you sure you wish to logout?"} %></li>
						<% else %>
							<li><%= link_to 'User Login', login_path %></li>
							<li><%= link_to 'New User', new_user_path %></li>
						<% end %>
		    		</ul>
		    	</li>

		    	<li><a href="#">Restaurants</a>
		    		<ul>
						<% if @current_restaurant_user.present? %>
							<li><%= link_to 'Edit your profile', edit_restaurant_user_path %></li>
							<li><%= link_to "Logout #{ @current_restaurant_user.name }", restaurant_login_path, :method => 'delete', :data => { :confirm => "Are you sure you wish to logout?"} %></li>
						<% else %>
							<li><%= link_to 'Restaurant User Login', restaurant_login_path %></li>
							<li><%= link_to 'New Restaurant User', new_restaurant_user_path %></li>
						<% end %>
		    		</ul>
		 		</li>
				
		  		<li><%= link_to 'About Us', aboutus_path %></li>
			</ul>
		</nav>

		<%= yield %>
	</div>

	<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>-->

</body>
</html>
